@use "./variables" as *;

body {
  background-color: $quinaryColor;
}

#contactPage header {
  height: 400px;
  width: 100vw;
  position: relative;
    h1 {
      position: absolute;
      left: 100px;
      bottom: -15px;
      margin: 0 auto;
  }
}

.contactWrapper {
  display: flex;
  margin: 100px 100px;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.contactFormWrapper {
  flex-basis: 60%;
}

.asideContactWrapper {
  flex-basis: 25%;
  background-color: white;
  height: 65%;
}

#contactPage i {
  color: $primaryColor;
  font-size: 1.5rem;
  padding: 20px;
  &:first-child {
    padding-left: 0;
  }
}

.contactInfo {
  padding: 40px;
  p {
    margin: 0;
  }
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
}

input {
  outline: none;
  color: $quaternaryColor;
  font-family: $secondaryFont;
  font-size: 0.95rem;
  padding: 20px;
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  justify-content: space-between;
}

textarea {
  padding: 20px;
}

#contactPage button {
  font-size: 0.95rem;
  font-family: $primaryFont;
  background-color: $tertiaryColor;
  border: 0;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}
