.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
    li {
      flex-direction: row;
      margin: 30px 20px;
    }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.home span {
  color: $tertiaryColor;
}

.logo span {
  font-family: $primaryFont;
  font-size: 1.5rem;
}