@use "./variables" as *;

.navbar {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 1px;
    li {
      text-decoration: none;
      text-transform: uppercase;
      list-style: none;
        a {
          text-decoration: none;
          color: $quinaryColor;
        }
    }
}

h1 {
  font-family: $primaryFont;
  color: $quinaryColor;
  font-size: 7.2rem;
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-family: $primaryFont;
  color: $quaternaryColor;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 1px;
  font-weight: 300;
}

h3 {
  font-family: $primaryFont;
  color: $quaternaryColor;
  text-transform: uppercase;

}

span.home {
  color: $tertiaryColor;
}

p {
  font-family: $secondaryFont;
  color: $quaternaryColor;
}

.button {
  font-family: $primaryFont;
  font-size: 1rem;
  color: $quaternaryColor;
  text-decoration: none;
  text-transform: uppercase;
}

.aboutWillow {
  text-align: center;
  line-height: 30px;
}


