@use "./variables" as *;

.navbar {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 1px;
    li {
      text-decoration: none;
      text-transform: uppercase;
      list-style: none;
        a {
          text-decoration: none;
          color: $quinaryColor;
        }
    }
}

.navbar .logo a {
  font-family: $primaryFont;
  font-size: 1.5rem;
}

h1 {
  font-family: $primaryFont;
  color: $quinaryColor;
  text-transform: uppercase;
  font-weight: 300;
}

#homePage h1 {
  font-size: 7.2rem;
}

h2 {
  font-family: $primaryFont;
  color: $quaternaryColor;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

#homePage h2 {
  margin: 0 auto;
}

h3 {
  font-family: $primaryFont;
  color: $quaternaryColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 300;
}

#homePage span.home {
  color: $tertiaryColor;
}

p {
  font-family: $secondaryFont;
  color: $quaternaryColor;
  line-height: 30px;
}

.button {
  font-family: $primaryFont;
  font-size: 1rem;
  color: $quaternaryColor;
  text-decoration: none;
  text-transform: uppercase;
}

#homePage .aboutWillow {
  text-align: center;
}

// BLOG STYLES

#blogPage h1 {
  font-size: 3.6rem;
}

#blogPage .aboutWillow {
  text-align: left;
}

h4 {
  font-family: $primaryFont;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 25px;
  padding-top: 40px;
  margin: 0;
}

// CONTACT STYLES

#contactPage h1 {
  font-size: 3.6rem;
}

#contactPage .emailContactInfo {
  font-weight: bold;
}