// FONT VARIABLS
$primaryFont: 'Abril Fatface', cursive;
$secondaryFont: 'Montserrat', sans-serif;

// COLOR VARIABLES
$primaryColor: #345231;
$secondaryColor: #709b6b;
$tertiaryColor: #e4a436;
$quaternaryColor: #1f1f1f;
$quinaryColor: #f6f6f6;



