
@use "./variables" as *;
@use "./setup";
@use "./typography";
@use "./nav";


html {
  font-size: 125%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.home span {
  color: $tertiaryColor;
}

.logo span {
  font-family: $primaryFont;
  font-size: 1.5rem;
}

header {
  background-color: $primaryColor;
  height: 95vh;
  max-height: 710px;
  min-height: 710px;
}

.wrapper {
  margin: 0 160px;
  height: 100%;
}

.header {
  position: relative;
}

.headerImageContainer {
  position: absolute;
  width: 475px;
  height: 665px;
  top: -200px;
  right: 0;
    img {
      box-shadow: 20px 20px 0 white; 
      width: 100%;
      height: 100%;
    }
}

h1 {
  margin-left: 55px;
  margin-top: 225px;
}

.circleText {
  position: absolute;
  top: -10px;
  left: 0;
  height: 160px;
  width: 135px;
    img {
      width: 100%;
      height: 100%;
    }
}

.aboutWillow {
  background-color: $quinaryColor;
  height: 45vh;
  max-height: 500px;
  min-height: 400px;
    h2 {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 20px;
    }
}

.button {
  background-color: $tertiaryColor;
  padding: 10px 20px;
  margin-top: 25px;
}

.listsAndThings .wrapper {
  display: flex;
  flex-wrap: wrap;
    .bridgeContainer {
      flex-basis: 50%;
      margin-bottom: 75px;
        img {
          width: 100%;
          height: 100%;
          box-shadow: 20px 20px 0 $secondaryColor;
        }
    }
    .faveThings {
      flex-basis: 50%;
        padding-left: 75px;
    }
    .bucketList {
      flex-basis: 50%;
      text-align: right;
      padding-right: 75px;
    }
    .flowerContainer {
      flex-basis: 50%;
        img {
          width: 100%;
          height: 100%;
          box-shadow: 20px 20px 0 $primaryColor;
        }
    }
}

.willowsJourney {
  background-color: $quinaryColor;
}

.willowsJourney .wrapper {
  display: flex;
  flex-wrap: wrap;
    .journeyTextContainer {
      width: 65%;
      margin-bottom: 150px;
      margin-left: 125px;
        h2 {
          padding-top: 100px;
        }
    }
}

.journeyImgContainer {
  width: 300px;
  height: 300px;
  margin-top: 100px;
    img {
      width: 100%;
      height:100%;
      box-shadow: 20px 20px 0 $secondaryColor;
      object-fit: cover;
    }
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: space-between;
  margin: 100px 0;
}


