
@use "./variables" as *;
@use "./setup";
@use "./typography";
@use "./nav";


html {
  font-size: 125%;
}

// HEADER STYLING

header {
  background-color: $primaryColor;
  height: 95vh;
  max-height: 710px;
  min-height: 710px;
}

.wrapper {
  margin: 0 160px;
  height: 100%;
}

.header {
  position: relative;
}

.headerImageContainer {
  position: absolute;
  width: 475px;
  height: 665px;
  top: -200px;
  right: 0;
    img {
      box-shadow: 20px 20px 0 white; 
      width: 100%;
      height: 100%;
    }
}

h1 {
  margin-left: 55px;
  margin-top: 225px;
}

.circleText {
  position: absolute;
  top: -10px;
  left: 0;
  height: 160px;
  width: 135px;
    img {
      width: 100%;
      height: 100%;
    }
}

// WHO'S WILLOW SECTION STYLING

.aboutWillow {
  background-color: $quinaryColor;
  height: 45vh;
  max-height: 500px;
  min-height: 400px;
    h2 {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 20px;
    }
}

.button {
  background-color: $tertiaryColor;
  padding: 10px 20px;
  margin-top: 25px;
}

// LISTS & THINGS SECTION STYLING

.listsAndThings .wrapper {
  display: flex;
  flex-wrap: wrap;
    .bridgeContainer {
      flex-basis: 50%;
      margin-bottom: 75px;
        img {
          width: 100%;
          height: 100%;
          box-shadow: 20px 20px 0 $secondaryColor;
        }
    }
    .faveThings {
      flex-basis: 50%;
        padding-left: 75px;
    }
    .bucketList {
      flex-basis: 50%;
      text-align: right;
      padding-right: 75px;
    }
    .flowerContainer {
      flex-basis: 50%;
        img {
          width: 100%;
          height: 100%;
          box-shadow: 20px 20px 0 $primaryColor;
        }
    }
}

// WILLOW'S JOURNEY SECTION STYLING

.willowsJourney {
  background-color: $quinaryColor;
}

.willowsJourney .wrapper {
  display: flex;
  flex-wrap: wrap;
    .journeyTextContainer {
      width: 65%;
      margin-bottom: 150px;
      margin-left: 125px;
        h2 {
          padding-top: 100px;
        }
    }
}

.journeyImgContainer {
  width: 300px;
  height: 300px;
  margin-top: 100px;
    img {
      width: 100%;
      height:100%;
      box-shadow: 20px 20px 0 $secondaryColor;
      object-fit: cover;
    }
}

// FULL BLEED IMAGE STYLING

.fullWidthImg {
  width: 100vw;
}

// GALLERY SECTION STYLING

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  margin: 100px auto;
  padding-left: 0px;
    li {
      width: 350px;
      height: 350px;
      margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
        }
    }
}

// SUMMARY SECTION STYLING
.sectionsSummary {
  background-color: $quinaryColor;
  height: 50vh;
  min-height: 550px;
  padding: 75px 0px;
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
        .photosSection {
          flex-basis: 45%;
            h3 {
              display: inline-block;
              margin: 0px 15px;
              vertical-align: middle;
            }
            p {
              margin-left: 70px;
            }
        }
        .aboutSection {
          flex-basis:45%;
            h3 {
              display: inline-block;
              margin: 0px 15px;
              vertical-align: middle;
            }
            p {
              margin-left: 70px;
            }
        }
        .blogSection {
          flex-basis: 45%;
            h3 {
              display: inline-block;
              margin: 0px 15px;
              vertical-align: middle;
            }
            p {
              margin-left: 70px;
            }
        }
        .contactSection {
          flex-basis: 45%;
            h3 {
              display: inline-block;
              margin: 0px 15px;
              vertical-align: middle;
            }
            p {
              margin-left: 70px;
            }
        }
    }
}

.photoIcon {
  display: inline-block;
  background-color: $tertiaryColor;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
    i {
      position: absolute;
      top: 15px;
      left: 15px;
    }
}

.userIcon {
  display: inline-block;
  background-color: $tertiaryColor;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
    i {
      position: absolute;
      top: 15px;
      left: 15px;
    }
}

.screenIcon {
  display: inline-block;
  background-color: $tertiaryColor;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;  
  vertical-align: middle;
    i {
      position: absolute;
      top: 15px;
      left: 15px;
    }
}

.phoneIcon {
  display: inline-block;
  background-color: $tertiaryColor;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
    i {
      position: absolute;
      top: 15px;
      left: 15px;
    }
}

// FOOTER STYLING

footer {
  text-align: center;
  background-color: $quaternaryColor;
    p {
      color: $quinaryColor;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}

