html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: hidden;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 1px;
}
.navbar li {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: #f6f6f6;
}

.navbar .logo a {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: #f6f6f6;
  text-transform: uppercase;
  font-weight: 300;
}

#homePage h1 {
  font-size: 7.2rem;
}

h2 {
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

#homePage h2 {
  margin: 0 auto;
}

h3 {
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 300;
}

#homePage span.home {
  color: #e4a436;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  line-height: 30px;
}

.button {
  font-family: "Abril Fatface", cursive;
  font-size: 1rem;
  color: #1f1f1f;
  text-decoration: none;
  text-transform: uppercase;
}

#homePage .aboutWillow {
  text-align: center;
}

#blogPage h1 {
  font-size: 3.6rem;
}

#blogPage .aboutWillow {
  text-align: left;
}

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 25px;
  padding-top: 40px;
  margin: 0;
}

#contactPage h1 {
  font-size: 3.6rem;
}

#contactPage .emailContactInfo {
  font-weight: bold;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.navbar ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 20px;
  text-align: center;
}
.navbar ul li a {
  line-height: 50px;
  height: 50px;
}

#homePage ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#homePage .home span {
  color: #e4a436;
}

.logo span {
  font-family: "Abril Fatface", cursive;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
}

.navbar a:hover {
  color: #e4a436;
  font-size: 1rem;
}

.navbar a:focus {
  color: #e4a436;
  font-size: 1rem;
}

#blogPage .navbar {
  background-color: #345231;
}

#blogPage .blog span {
  color: #e4a436;
}

#contactPage .navbar {
  background-color: #345231;
}

#contactPage .contact span {
  color: #e4a436;
}

body {
  background-color: #f6f6f6;
}

#blogPage header {
  height: 400px;
  width: 100vw;
  position: relative;
}
#blogPage header h1 {
  position: absolute;
  left: 100px;
  bottom: -15px;
  margin: 0 auto;
}

.blogWrapper {
  margin: 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainBlogWrapper {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.mainBlogWrapper .blogArticle {
  background-color: white;
  border-bottom: 5px solid #709b6b;
}
.mainBlogWrapper .blogArticle h3 {
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 40px;
}
.mainBlogWrapper .blogArticle p {
  padding: 0px 40px;
}

.commentSection {
  border-bottom: 5px solid #709b6b;
}

.commentOne {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.commentTwo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profileImgContainer {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-top: 40px;
  margin-left: 40px;
}

.commentTextContainer {
  -ms-flex-preferred-size: calc(85% - 40px);
      flex-basis: calc(85% - 40px);
  padding-top: 40px;
  padding-bottom: 40px;
}
.commentTextContainer p {
  margin: 0;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.commentForm input {
  outline: none;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  padding: 20px;
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  font-size: 0.95rem;
  font-family: "Abril Fatface", cursive;
  background-color: #e4a436;
  border: 0;
  padding: 10px;
  width: 100%;
}

.asideBlogWrapper {
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
}

#blogPage .aboutWillow {
  background-color: white;
}
#blogPage .aboutWillow p {
  padding: 25px;
}

#blogPage .aboutWillow a {
  color: #709b6b;
  font-weight: bold;
  text-decoration: none;
}
#blogPage .aboutWillow a:hover, #blogPage .aboutWillow a:focus {
  border-bottom: 1px solid #709b6b;
}

.aboutImgContainer img {
  padding: 30px;
}

#blogPage .recentPosts {
  background-color: white;
}
#blogPage .recentPosts ul {
  padding-bottom: 25px;
}
#blogPage .recentPosts ul p {
  margin: 5px;
}

body {
  background-color: #f6f6f6;
}

#contactPage header {
  height: 400px;
  width: 100vw;
  position: relative;
}
#contactPage header h1 {
  position: absolute;
  left: 100px;
  bottom: -15px;
  margin: 0 auto;
}

.contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactFormWrapper {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.asideContactWrapper {
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  background-color: white;
  height: 65%;
}

html {
  font-size: 125%;
}

#homePage header {
  background-color: #345231;
  height: 95vh;
  max-height: 710px;
  min-height: 710px;
}

#homePage .wrapper {
  margin: 0 160px;
  height: 100%;
}

#homePage .header {
  position: relative;
}

#homePage .headerImageContainer {
  position: absolute;
  width: 475px;
  height: 665px;
  top: -200px;
  right: 0;
}
#homePage .headerImageContainer img {
  -webkit-box-shadow: 20px 20px 0 white;
          box-shadow: 20px 20px 0 white;
  width: 100%;
  height: 100%;
}

#homePage h1 {
  margin-left: 55px;
  margin-top: 225px;
}

.circleText {
  position: absolute;
  top: -10px;
  left: 0;
  height: 160px;
  width: 135px;
}
.circleText img {
  width: 100%;
  height: 100%;
}

#homePage .aboutWillow {
  background-color: #f6f6f6;
  height: 45vh;
  max-height: 500px;
  min-height: 400px;
}
#homePage .aboutWillow h2 {
  text-align: center;
  padding-top: 125px;
  padding-bottom: 20px;
}

#homePage .button {
  background-color: #e4a436;
  padding: 10px 20px;
  line-height: 70px;
}

#homePage .button:hover {
  font-size: 1.1rem;
}

#homePage .button:focus {
  font-size: 1.1rem;
}

.listsAndThings {
  height: 850px;
  min-height: 850px;
}

.listsAndThings .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.listsAndThings .wrapper .bridgeContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 75px;
}
.listsAndThings .wrapper .bridgeContainer img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 20px 20px 0 #709b6b;
          box-shadow: 20px 20px 0 #709b6b;
}
.listsAndThings .wrapper .faveThings {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 75px;
  padding-top: 100px;
}
.listsAndThings .wrapper .bucketList {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  padding-right: 75px;
}
.listsAndThings .wrapper .flowerContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.listsAndThings .wrapper .flowerContainer img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 20px 20px 0 #345231;
          box-shadow: 20px 20px 0 #345231;
}

.listsAndThings h3 {
  margin: 0;
}

.willowsJourney {
  background-color: #f6f6f6;
}

.willowsJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.willowsJourney .wrapper .journeyTextContainer {
  width: 65%;
  margin-bottom: 150px;
  margin-left: 125px;
}
.willowsJourney .wrapper .journeyTextContainer h2 {
  padding-top: 100px;
}

.journeyImgContainer {
  width: 300px;
  height: 300px;
  margin-top: 100px;
}
.journeyImgContainer img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 20px 20px 0 #709b6b;
          box-shadow: 20px 20px 0 #709b6b;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullWidthImg {
  width: 100vw;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px auto;
  padding-left: 0px;
}
.gallery ul li {
  width: 350px;
  height: 350px;
  margin: 0 auto;
}
.gallery ul li img {
  width: 100%;
  height: 100%;
}

.sectionsSummary {
  background-color: #f6f6f6;
  height: 50vh;
  min-height: 550px;
  padding: 75px 0px;
}
.sectionsSummary .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sectionsSummary .wrapper .photosSection {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.sectionsSummary .wrapper .photosSection h3 {
  display: inline-block;
  margin: 0px 15px;
  vertical-align: middle;
}
.sectionsSummary .wrapper .photosSection p {
  margin-left: 70px;
}
.sectionsSummary .wrapper .aboutSection {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.sectionsSummary .wrapper .aboutSection h3 {
  display: inline-block;
  margin: 0px 15px;
  vertical-align: middle;
}
.sectionsSummary .wrapper .aboutSection p {
  margin-left: 70px;
}
.sectionsSummary .wrapper .blogSection {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.sectionsSummary .wrapper .blogSection h3 {
  display: inline-block;
  margin: 0px 15px;
  vertical-align: middle;
}
.sectionsSummary .wrapper .blogSection p {
  margin-left: 70px;
}
.sectionsSummary .wrapper .contactSection {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.sectionsSummary .wrapper .contactSection h3 {
  display: inline-block;
  margin: 0px 15px;
  vertical-align: middle;
}
.sectionsSummary .wrapper .contactSection p {
  margin-left: 70px;
}

#homePage h3 a {
  text-decoration: none;
  color: #1f1f1f;
}
#homePage h3 a:hover {
  border-bottom: 2px solid #1f1f1f;
}
#homePage h3 a:focus {
  border-bottom: 2px solid #1f1f1f;
}

.photoIcon {
  display: inline-block;
  background-color: #e4a436;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
}
.photoIcon i {
  position: absolute;
  top: 15px;
  left: 15px;
}

.userIcon {
  display: inline-block;
  background-color: #e4a436;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
}
.userIcon i {
  position: absolute;
  top: 15px;
  left: 15px;
}

.screenIcon {
  display: inline-block;
  background-color: #e4a436;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
}
.screenIcon i {
  position: absolute;
  top: 15px;
  left: 15px;
}

.phoneIcon {
  display: inline-block;
  background-color: #e4a436;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
}
.phoneIcon i {
  position: absolute;
  top: 15px;
  left: 15px;
}

footer {
  text-align: center;
  background-color: #1f1f1f;
}
footer p {
  color: #f6f6f6;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}